/* UTILS */
.pageWrapper {
  width: 65%;
  margin: 0 auto;
}

.pageNotfound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

.pageNotfound h1 {
  font-size: 10em;
}

.button {
  text-decoration: none;
  background: var(--primary-color);
  border-radius: 20px;
  font-size: 20px;
  font-weight: 100;
  padding: 20px;
  color: #f4f4f4;
  transition: all .3s ease;
}

.button:hover {
  box-shadow: 7px 8px 66px -11px rgba(0,0,0,0.75);
}

.navegation {
  width: 100%;
  padding: 25px 0;
  box-shadow: 1px 5px 62px -18px rgba(0,0,0,0.2);
}

.navegation a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #000;
  text-decoration: none;
  font-size: 22px;
}

.navegation a img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
}

.navegationWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  margin: 0 auto;
}

.navegationWrapper ul {
  display: flex;
  gap: 5px;
  align-items: center;
  list-style: none;
}

.navegationWrapper ul li a {
  text-decoration: none;
  color: #f4f4f4;
  background: var(--primary-color);
  padding: 18px;
  border-radius: 20px;
  font-weight: 100;
  transition: all .3s ease;
}

.navegationWrapper ul li a:hover {
  box-shadow: 7px 8px 66px -11px rgba(0,0,0,0.75);
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 160px);
}

.presentation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.presentation .presentationAboutMe {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 20px;
  font-size: 2.2em;
}

.presentation .presentationAboutMe p {
  font-size: .6em;
  font-weight: 100;
  color: rgba(0,0,0,0.7);
  width: 70%;
}

.presentation img {
  border-radius: 180px;
  width: 450px;
  height: 450px;
}

.title {
  font-size: 2em;
  color: var(--primary-color);
}

.subTitle strong:nth-child(1) {
  border-bottom: 4px solid var(--primary-color);
}

.social {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social strong {
  font-size: 20px;
}

.social .link {
  color: #000;
  text-decoration: none;
  transition: all .3s ease;
  font-size: 35px;
}

.social .link:hover {
  color: var(--primary-color);
}

.line {
  height: 3px;
  width: 70px;
  background: rgba(0, 0, 0, .3);
}

.projectCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 10px;
}

.projectCards .card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  background: rgba(255, 255, 255, .3);
  border-radius: 10px;
  box-shadow: 7px 8px 66px -11px rgba(0,0,0,0.1);
  gap: 15px;
}

.projectCards div img {
  width: 100%;
  border-radius: 40px;
  margin: 0 auto;
}

.projectCards .footerButton {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.projectCards .footerButton a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  border-radius: 10px;
  color: rgba(0,0,0, .8);
  background: rgba(0, 0, 0, .2);
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.projectCards .footerButton a:hover {
  background: rgba(0, 0, 0, .1);
}

.cardLine {
  width: 100%;
  height: 1px;
  background: rgba(0,0,0, .1);
}

@media screen and (max-width: 1440px) {
  .body {
    height: 100%;
    padding: 20px;
  }
  .presentation {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-flow: row wrap-reverse;
    text-align: center;
  }

  .presentation .presentationAboutMe {
    align-items: center;
  }

  .presentation .presentationAboutMe p {
    margin: 0 auto;
  }

  .projectCards {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 620px) {
  .social {
    flex-direction: column;
  }

  .line {
    width: 4px;
    height: 40px;
  }

  .navegationWrapper {
    justify-content: center;
  }

  .logoName, .logoImg {
    display: none;
  }
}

@media screen and (max-width: 520px) {
  .presentation img {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 460px) {
  .presentation img {
    width: 350px;
    height: 350px;
    border-radius: 140px;
  }
}

@media screen and (max-width: 380px) {
  .presentation img {
    width: 300px;
    height: 300px;
    border-radius: 120px;
  }
}

@media screen and (max-width: 330px) {
  .presentation img {
    width: 250px;
    height: 250px;
    border-radius: 110px;
  }
}